
<viewport ng-controller="DashboardController">

    <border-layout border="false">

        <west size="55" collapsed="false">
            <div class="io-nav">
                <div class="io-navigation" style="height:100%;">

                    <a ng-repeat= "item in widgetConfigs.leftNavItems"
                       ng-class="item.selected ? 'io-navigation-item active waves-effect tooltipped' :'io-navigation-item waves-effect tooltipped'"
                       data-position="right" data-delay="50" data-tooltip="I am tooltip" ng-click="selectLeft(item.id)">
                        <i class="small {{item.iconClass}}"></i>

                    </a>
                </div>
            </div>
        </west>
        <east size="350" split="true" collapsed="{{rightContentClosed}}">
            <content-panel ng-repeat= "item in widgetConfigs.rightNavItems"
                           header-label="{{item.name}}" on-close="closeRightContent()" ng-show="selectedRightWidgetId == item.id">
                <layer-widget mapid="myMapId" ng-if="item.id == 'layerWidget'"></layer-widget>
                <arcgis-basemap-gallery mapid="myMapId"  ng-if="item.id == 'basemapWidget'"></arcgis-basemap-gallery>
                <arcgis-legend mapid="myMapId" ng-if="item.id == 'legendWidget'"></arcgis-legend>
                <arcgis-directions mapid="myMapId" ng-if="item.id == 'directionWidget'"></arcgis-directions>
                <chart-panel ng-if="item.id == 'chartWidget'"></chart-panel>
                <arcgis-draw-graphics mapid="myMapId"  ng-if="item.id == 'drawingWidget'"></arcgis-draw-graphics>
            </content-panel>
        </east>
        <center-portion>
            <border-layout border="false">
                <west size="350" split="true" collapsed="{{contentClosed}}">

                    <!--<content-panel header-label="Legend" on-close="closeContent()" ng-if="basemapselected">
                        <arcgis-basemap-gallery mapid="myMapId" id="basemapid"></arcgis-basemap-gallery>
                    </content-panel>
                    <content-panel header-label="Legend" on-close="closeContent()" ng-if="legendselected">
                        <arcgis-legend mapid="myMapId" id="legendId"></arcgis-legend>
                    </content-panel>-->

                    <content-panel ng-repeat= "item in widgetConfigs.leftNavItems" header-label="{{item.name}}" on-close="closeContent()" ng-show="item.selected">
                        <layer-widget mapid="myMapId" id="layerWidget" ng-if="item.id == 'layerWidget'"></layer-widget>
                        <arcgis-basemap-gallery mapid="myMapId" id="basemapid" ng-if="item.id == 'basemapWidget'"></arcgis-basemap-gallery>
                        <arcgis-legend mapid="myMapId" id="legendId" ng-if="item.id == 'legendWidget'"></arcgis-legend>
                        <arcgis-directions mapid="myMapId" ng-if="item.id == 'directionWidget'"></arcgis-directions>
                        <chart-panel ng-if="item.id == 'chartWidget'"></chart-panel>
                        <arcgis-draw-graphics mapid="myMapId"  ng-if="item.id == 'drawingWidget'"></arcgis-draw-graphics>
                    </content-panel>



                </west>

                <center-portion>

                    <arcgis-map layers="map.layers" mapid="myMapId" center="map.center" zoom="map.zoom"
                                basemap="{{map.basemap}}"
                                options="{{map.options}}" scalebar="true" overviewmap="true">


                        <arcgis-dynamic-map-service-layer
                                url="http://54.221.225.213/arcgis/rest/services/QuantumPlatform/Ambit_View/MapServer"
                                name="Ambit_View">

                        </arcgis-dynamic-map-service-layer>

                        <arcgis-dynamic-map-service-layer
                                url="http://54.221.225.213/arcgis/rest/services/QuantumPlatform/Voice/MapServer"
                                name="Voice">

                        </arcgis-dynamic-map-service-layer>

                        <!-- <arcgis-fetaure-layer url="http://54.221.225.213/arcgis/rest/services/QuantumPlatform/Facilities/FeatureServer/2"></arcgis-fetaure-layer>-->
                        <arcgis-dynamic-map-service-layer name="Call"
                                                          url="http://54.221.225.213/arcgis/rest/services/QuantumPlatform/Issues/MapServer"></arcgis-dynamic-map-service-layer>

                        <arcgis-dynamic-map-service-layer name="Vector Data"
                                                          url="http://54.221.225.213/arcgis/rest/services/QuantumPlatform/VectorData/MapServer"></arcgis-dynamic-map-service-layer>
                    </arcgis-map>
                </center-portion>
            </border-layout>
        </center-portion>

    </border-layout>

</viewport>