<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Quantum Spatial</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
    <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../src/style/arcgis-angular-material.css">
    <link rel="stylesheet" href="./style/borderlayout.css">
    <link rel="stylesheet" href="app.css">
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            overflow: hidden;
        }

    </style>
</head>
<body ng-controller="MapController">

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large mdi-editor-mode-edit"></i>
    </a>
    <ul>

        <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="50"
               data-tooltip="I am tooltip"><i class="large mdi-editor-format-quote"></i></a></li>
        <li><a class="btn-floating green"><i class="large mdi-editor-publish"></i></a></li>
        <li><a class="btn-floating blue"><i class="large mdi-editor-attach-file"></i></a></li>

    </ul>
</div>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="#dashboard">Dashboard</a></li>
    <li><a href="#!">Admin</a></li>
    <li class="divider"></li>
    <li><a href="#settings">Widget Setting</a></li>
    <li class="divider"></li>
    <li><a href="#!">Logout</a></li>
</ul>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul class="left">
                <li><a class="button-collapse show-on-small"><i class="large mdi-navigation-menu"></i></a></li>

                <li><a style="padding-left:10px;" class="brand-logo">Quantum Insite</a></li>


            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button waves-effect" href="javascript:void(0)" data-activates="dropdown1"
                       data-beloworigin="true">Yogesh Patel<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
                <li><a class="dropdown-button waves-effect"><i class="large mdi-content-mail"></i></a></li>
                <li><a><i class="button-collapse  mdi-navigation-more-vert" data-activates="slide-out"></i></a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<ul id="slide-out" class="right side-nav">

    <li ng-repeat="item in widgetConfigs.rightNavItems" class="right-item">
        <a ng-click="selectRightWidget(item)">
            <i style="float:left;" class="small {{item.iconClass}}"></i>
            <span class="right-item-label">{{item.name}}</span>
        </a>
    </li>

    <!--<li class="right-item"><a><i style="float:left;"
                                 class="small mdi-action-search green-text accent-2"></i><span
            class="right-item-label">Search</span></a></li>
    <li class="right-item"><a ng-click="selectDrawing()"><i style="float:left;"
                                                            class="small mdi-editor-format-paint green-text accent-2"></i><span
            class="right-item-label">Drawing</span></a></li>
    <li class="right-item"><a><i style="float:left;"
                                 class="small mdi-maps-directions green-text accent-2"></i><span
            class="right-item-label">Measurement</span></a></li>-->
</ul>


<ng-view>

</ng-view>

<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/materialize/dist/js/materialize.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-3d.js"></script>
<script src="http://js.arcgis.com/3.13/"></script>
<script src="../bower_components/requirejs/require.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="app.js"></script>
<script src="../src/services/mapRegistry.js"></script>
<script src="../src/directives/arcgisFeatureLayer.js"></script>
<script src="../src/directives/arcgisDynamicMapServiceLayer.js"></script>
<script src="../src/directives/arcgisMap.js"></script>
<script src="../src/directives/layerWidget.js"></script>
<script src="../src/directives/layerItem.js"></script>
<script src="../src/directives/arcgisLegends.js"></script>
<script src="../src/directives/basemapGallery.js"></script>
<script src="../src/directives/arcgisGeocoder.js"></script>
<script src="../src/directives/homeButton.js"></script>
<script src="../src/directives/directionsWidget.js"></script>
<script src="../src/directives/drawGraphicsWidget.js"></script>

<script src="./lib/angular-desktop-containers.js"></script>


<script>
    $(document).ready(function () {
        $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 240
                    edge: 'right', // Choose the horizontal origin
                    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                }
        );
    });

</script>


</body>
</html>