<viewport>

    <border-layout border="false">

        <west size="55" collapsed="false">
            <div class="io-nav">

                <div class="io-navigation" style="height:100%;">
                    <ul dnd-list="widgetConfigs.leftNavItems">
                        <li ng-repeat="item in widgetConfigs.leftNavItems" dnd-draggable="item" dnd-moved="widgetConfigs.leftNavItems.splice($index, 1)"
                            dnd-effect-allowed="move">
                            <a
                               class="io-navigation-item waves-effect">
                                <i class="small {{item.iconClass}}"></i>

                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            </div>
        </west>
        <east size="300" split="false">
            <div class="io-navigation" style="height:100%;border:5px dotted gray">
            <ul dnd-list="widgetConfigs.rightNavItems" style="padding:10px;">

                <li ng-repeat="item in widgetConfigs.rightNavItems" class="right-item rightDragItem waves-effect"
                    dnd-draggable="item" dnd-moved="widgetConfigs.rightNavItems.splice($index, 1)"
                    dnd-effect-allowed="move">
                    <i style="float:left;"
                       class="small {{item.iconClass}}"></i>
                    <span style="float:left;  padding-top: 10px;"
                          class="right-item-label">{{item.name}}
                    </span>
                </li>

            </ul>
                </div>
        </east>
        <center-portion>
             <div style="margin:0 auto;color:#666;">
                 <blockquote>
                     <h2>Map Section</h2>
                 </blockquote>
             </div>
        </center-portion>

    </border-layout>


</viewport>